* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}


/* nav bar */






/* text styles */
a:link, a:visited {
  color:white;
}

a:hover {
  color:black;
}

caption {
font-family: 'Playfair Display';
font-size: xx-small;
font-style: italic;
color: white;
}

p {
font-family: 'Poppins';
font-weight: 200;
}


.glow {
  text-shadow: 2px 2px 6px white;
}

.shadow {
  text-shadow: 2px 2px 6px black;
}


#intro {
color: white;
font-family: 'Playfair Display'; 
font-style: italic;
}

.names {
  color: white;
  font-family: 'Playfair Display';
  text-align: center;

}

.text-bottom {
  position: relative;
}


#weddingDay {
font-family: 'Poppins';
font-weight: 100;
text-align: center;
padding-top: 8.5rem;
margin: 0px 40px;
}


.dateline {
  font-family: 'Playfair Display';
  text-align: center;
  margin: 0px 40px;
}



#location {
font-family: 'Poppins';
font-size: calc(1.5rem + 1.5vw);
font-weight: 100;
text-align: center;
}


.location {
  font-family: 'Playfair Display SC';
  font-size: calc(1.5rem + 1.5vw);
  text-align: center;
}

.whiteBkgd {
background-color: white;
padding: 1rem 1rem 100% 1rem;
margin: 60px;
}

.blackBkgd {
background-color: black;
background-position: center;
background-size: cover;
margin: 0;    
}


.sectionHed {
color: white;
text-shadow: 2px 2px 6px black;
font-family: 'Playfair Display';
text-align: center;
margin:auto;

}

.venueName {
color: white;
text-shadow: 2px 2px 6px black;
text-align: center; 
font-family: 'Playfair Display'; 
font-style: italic;
padding-top: 15px;

}

.bridalPartyNames {
  font-size: calc(1rem + .75vw);
  font-weight:600;
  text-align: center;
  margin-bottom: 0;
}

.title {
  font-size: calc(1rem + .25vw);
  font-style: italic;
  text-align: center;
  margin-top: 0;
}

.thankYou {
color: white;
text-align: center; 
font-family: 'Playfair Display'; 
font-style: italic;
font-weight: 100;
}

#top-space {
padding-top: calc(3rem + 6vw);
}

#info {
color: black;
font-family: 'Playfair Display'; 
font-style: italic;
padding-top: 30px;
}


#address {
font-family: 'Playfair';
font-style: italic;
text-shadow: 2px 2px 6px black;
padding-top: 500px;
}

.footer {
margin: 20px;
padding: 20px;
}

.footer-text {
color: black;
font-family: 'Poppins', sans-serif;
font-size: small;

}

/* horizontal rule style */
hr {
  width: 50%;
  margin-left: 25% !important;
  margin-right: 25% !important;

}




/* imgs */
.leadImg {
  background-image: url(RA-26.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.border {
background-image: url(/Volumes/RFA_GFX/websites/wedding04/imgs/white-pattern-grid.png);
background-attachment: fixed;
background-position: center;
background-size: cover;
text-align: center;
}

.venueImg {
  background-image: url(pinecroft-sepia.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100%;
}

.ourStoryImg {
  width: 100%;
  height: auto;
  margin: auto;
  padding-top: 2rem;

}

.bridalParty {
  margin: 20px 20px 10px 20px;
  width: calc(12rem + 5vw);
  height: auto;
  border: 1px solid black;

}

.stack {
  display: flex;
}

footer {
  background: cover;
}


/* btn style */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
} */

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}


/* media queries */


/* xx-small devices (less than 300px) */
@media only screen and (max-width: 300px) {

  p {
    font-size: calc(0.75rem + 1.5vw);
  }
  
  .names {
    font-size: calc(2.5rem + 1.5vw);
    line-height: calc(2.25rem + 1.5vw);
    padding-top: 4rem;
  
  }

  .text-bottom {
    top: calc(28rem + 1.5vw);
  }
  
  
  #weddingDay, #location, #address, .thankYou {
    font-size: calc(.75rem + 1.5vw);
    line-height: calc(1.5rem + 1.5vw);
  
  }
  
  .dateline {
    line-height: calc(1.5rem + 1.5vw);
  }
  
  
  .location {
    line-height: calc(1.5rem + 1.5vw);
    font-size: calc(.75rem + 1.5vw);
  }
  
  
  
  .sectionHed {
    font-size: calc(1.5rem + 1.5vw);
    line-height: calc(1.25rem + 1.5vw);
    padding-top: 4rem;
  
  }
  
  

  .blackBkgd {
    padding: 1rem;
  
  }



  
  }
  
  /* Extra small devices (301-599px) */
  @media only screen and (min-width: 301px) {
  p {
    font-size: calc(0.75rem + 1.5vw);
  }
  
  .names {
    font-size: calc(3rem + 1.5vw);
    line-height: calc(2.5rem + 1.5vw);
  
  }

  .text-bottom {
    top: calc(28rem + 1.5vw);
  }
  
  #intro {
  padding-top: calc(1.5rem + 4vw);
  }
  
  #weddingDay, #location, #info {
    font-size: calc(.75rem + 1.5vw);
    
  }
  
  .thankYou {
    font-size: calc(.75rem + 1.5vw);
    margin: calc(1rem + 1.5vw);
    line-height: calc(1.5rem + 1.5vw);
  }
  
  .venueName, #address {
    font-size: calc(.75rem + 1.5vw);
  }
  
  
  .sectionHed {
    font-size: calc(1.5rem + 1.5vw);
    line-height: calc(1.25rem + 1.5vw);
    padding-top: 4rem;
  
  }
  
  .location {
    line-height: calc(1.5rem + 1.5vw);
    font-size: calc(.75rem + 1.5vw);
  }
  
  .blackBkgd {
    padding: calc(2rem + 1.5vw);
  }

  
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  p {
    font-size: calc(0.5rem + 1.5vw);
  }
  
  .names {
    font-size: calc(3rem + 1.5vw);
    /* padding-top: 8rem; */
  
  }

  .text-bottom {
    top: calc(42rem + 1.5vw);
  }
  
  #weddingDay, #location, #info {
  font-size: calc(.75rem + 1.5vw);
  
  }
  
  .dateline {
    font-size: calc(1rem + 1.5vw);
  }
  
  .sectionHed {
  font-size: calc(2rem + 1.5vw);
  padding-top: 8rem;
  
  }
  
  .location {
    line-height: calc(1.5rem + 1.5vw);
    font-size: calc(.75rem + 1.5vw);
  }
  
  .blackBkgd {
  padding: calc(3rem + 1.5vw);
  }
  

  
  }
  
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  .names {
    font-size: calc(4rem + 1.5vw);
  }

  .text-bottom {
    top: calc(48rem + 1.5vw);
  }
  
  #weddingDay, #location, #info {
  font-size: calc(.75rem + 1vw);
  
  }
  
  #rsvp-form {
  padding-top: calc(2rem + 1vw);
  }
  
  .thankYou {
  font-size: calc(.5rem + 1.5vw);
  padding-left: 20%;
  padding-right: 20%;
  }
  
  .sectionHed {
  font-size: calc(4rem + 1.5vw);
  }
  }

  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    p {
      font-size: calc(0.3rem + 1.5vw);
    }

  .names {
    font-size: calc(4rem + 1.5vw);
  }

  .text-bottom {
    top: calc(48rem + 1.5vw);
  }
  
  #weddingDay, #location, #info {
  font-size: calc(.5rem + 1.5vw);
  
  }
  
  .thankYou {
  font-size: calc(.5rem + 1vw);
  
  }
  
  .venueName, #address {
  font-size: calc(.5rem + 1vw);
  }
  
  .location {
    font-size: calc(1.5rem + 1.5vw);
  }
  
  .sectionHed {
  font-size: calc(4rem + 1.5vw);
  }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    p {
      font-size: calc(0.3rem + 1vw);
    }

  .names {
    font-size: calc(3rem + 1.5vw);
  }
  
  #weddingDay, #location, #info {
  font-size: calc(.2rem + 1.5vw);
  
  }
  
  .sectionHed {
  font-size: calc(4.5rem + 1.5vw);
  }
  }
  
  
